<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link  rel="stylesheet" media="screen" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link  media="screen" type="text/css" th:href="@{/css/core.css}" />
    <script  th:src="@{/static/js/jquery.min.js}"></script>
    <script  th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<br>
<br>
<br>
    <H1 align="center">Welcome to the library!</H1>






</body>
</html>